#good {
    padding-left: 240px;
    background-color: #F5F5F5;
    margin-top: 80px;
    min-height: 100vh;
}

.table_title {
    font: 700 30px "Noto Sans";
    line-height:  60px;
}

#good table {
    margin-top: 25px;
}

#good th, #good td {
    padding: 12px;
    text-align: left;
}

.goods_input {
    width: 460px;
    right: 0;
    height: 60px;
    position: absolute;
    margin-right: 120px;
    border: none;
    outline: none;

}
.goods_search {
    margin-right: 60px;
    float: right;
}