#payment {
    background-color: #F5F5F5;
    min-height: 100vh;
    width: 1760px;
    margin-left: 160px;
    display: flex;
    flex: 1 1 auto;
}

.payment_header {
    min-width: 160px;
    padding-top: 50px;
    background-color: #ffffff;
}

#payment_content {
    background-color: #F5F5F5;
    margin: 80px 60px;
}

.payment_title_search {
    display: flex;
    margin: 0 0 17px 0;
}

.table_title{
    margin-right: auto; 
}

.payment_search {
    display: flex;
    height: 56px;
    height: 56px;
}

.payment_search_input{
    width: 460px;
    padding: 0 0 0 20px;

    background: #FFFFFF;
    border-radius: 8px 0px 0px 8px !important;
    border: 0;
    outline: none;
}

.payment_search_input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    color: #9C9C9C;
}

.payment_search_btn {
    width: 56px;

    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}

#tableToExcelBtn {
    width: 131px;
    height: 38px;

    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 8px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;

    color: #333333;
    cursor: pointer;
    margin: 0 0 0 12px;
}

#tableToExcelBtn:hover{
    border: 1px solid #0BA754;
}

.payment_filter {
    display: flex;
    margin: 0 0 17px 0;
}

.payment_filter>div:first-child {
    width: 96px;
    height: 38px;
    margin: 0 40px 0 0;
    background-color: #ffffff;
    border-radius: 8px;
    z-index: 50;
}

.payment_filter_state {
    width: 96px;
    height: 38px;
    text-align: center;
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;

    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #ffffff;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

    color: #333333;

    background: url('/image/test/arrow.svg') no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    outline: none;
}

select::-ms-expand {
    display: none;
 }

.payment_filter_state:hover {
    border: 1px solid #0BA754;
}

.payment_filter_state::-ms-expand {
    display: none;
}


/* @keyframes 배경 {
    0% {
        background-color: rgb(226, 226, 226);
    }
    20% {
        background-color: rgb(156, 156, 156);   
    }
    40% {
        background-color: rgb(124, 124, 124);
    }
    60% {
        background-color: rgb(134, 134, 134);
    }
    80% {
        background-color: rgb(209, 209, 209);
    }
} */
/* @keyframes 아티클 {
    0% {
        box-shadow: 0 0 1px 1px #fff;
    }
    30% {
        box-shadow: 0 0 7px 5px #fff;
      
    }
    50% {
        box-shadow: 0 0 10px 7px #fff;
    }
    80% {
        box-shadow: 0 0 7px 5px #fff;
    }
    100% {
        box-shadow: 0 0 4px 2px #fff;
    }
    
} */

#payment article {     
    z-index: 1;
    position: absolute;
    width: 96px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    border-radius: 8px;
}

.btn-select {
    font-size: 12px;
    width: 96px;
    height:38px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    text-align: left;
    box-sizing: border-box;
    padding: 8px 0px 8px 12px;
    background: url('/image/test/arrow.svg') no-repeat ;
    background-position: 73px 50%;
    transition: all .3s;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;

    color: #333333;
}
.btn-select:hover {
  cursor: pointer;
  border: 1px solid #0BA754;
  border-radius: 8px;
}
.btn-select.on {
    background: url('/image/test/arrow.svg') no-repeat ;
    background-position: 73px 50%;
    border-radius: 8px;
}

.list-member {
    display: none;   
    overflow: hidden;
    transition: all .3s;
    box-sizing: border-box;
    background: #ffffff;
}


.list-member.on {
    display: block;
    width: 96px;
    border-radius: 8px;
    margin-top: 4px;
    padding: 0 0 8px 0;
}



.btn-select:active+.list-member {
    display: block;
}

.list-member li {
    position: relative;
    width: 100%;
    height: 38px;
    border-radius: 8px;
    box-sizing: border-box;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.list-member li button {
    margin: 4px;
    width: 88px;
    height: 38px;
    text-align: left;
    font-size: 14px;  
    display: inline-block;        
    border: none;
    background-color:#ffffff;
    padding-left: 8px;
    transition:all 0.1s;
}
.list-member li button:hover { 
    
    color: #0BA754;
    cursor: pointer;
    background: #F9FBFA;
    border-radius: 8px;
}


.react-datepicker-wrapper {
    width: 111px !important;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #ffffff;
    border-radius: 8px !important;
}

.react-datepicker__input-container{
    
}

.input-datepicker {
    width: 97px;
    height: 36px;
    padding: 0 0 0 12px;

    border: 1px solid #ffffff;
    border-radius: 8px !important;

    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #333333;

    background: url('/image/test/arrow.svg') no-repeat;
    background-position: 90px 50%;
    cursor: pointer;
    outline: none;
}

.input-datepicker::placeholder {
    padding: 4px;

}

.input-datepicker:hover {
    border: 1px solid #0BA754;
}

.date_filter>div{
    margin: auto 4px;
}

.react-datepicker-ignore-onclickoutside {}

.react-datepicker {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
 } 
.react-datepicker__current-month { 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
} 
.react-datepicker__header {
     padding-top: 6px !important; 
} 
.react-datepicker__navigation { 
    top: 13px !important; 
} 
.saturday { color: rgb(0, 0, 255) !important; } 
.sunday { color: rgb(255, 0, 0) !important; } 
.react-datepicker__day--disabled { color: #cccccc !important; }





/* .date_filter{
    display: flex;
    line-height: 38px;
} */

.Payment_filter_date {
    width: 97px;
    height: 38px;
    padding-left: 12px;

    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #ffffff;

    font: 400 14px 'Noto Sans';

    color: #333333;
}

.Payment_filter_date:hover{
    border: 1px solid #0BA754;
}

.Payment_filter_date::-webkit-calendar-picker-indicator {
    background: url('/image/test/arrow.svg') no-repeat;
    margin-top: 7px;
    position: absolute;
    width: 85px;
    transform: rotate(180deg) scaleY(-1);
}

.payment_filter_search_btn {
    width: 76px;
    height: 38px;
    margin: 0 0 0 12px;

    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}

.payment_filter_search_btn:hover {
    border: 1px solid #0BA754;
}

.Payment_data {
    display: flex;
    text-align: center;
    position: relative;
    margin: 0 0 50px 0;
}

.Payment_data_title {
    margin: 28px auto 20px auto;
    background: #F5F5F5;
    border-radius: 16px;
    width: 76px;
    height: 30px;    
    
    text-align: center;
    line-height: 30px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #9C9C9C;
}

.Payment_current_data, .Payment_proceeding_data {
    height: 161px;
    width: 720px;

    display:flex;
    flex-direction: column;

    background: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    line-height:150%
}

.Payment_proceeding_data {
    margin: 0 0 0 20px;
}

.Payment_data_content{
    display: flex;
}

.Payment_data_content_data {
    margin: auto;
    width: 180px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.Payment_data_content_type {
    width: 56px;
    height: 21px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    color: #9C9C9C;

    margin: 4px auto 0 auto;
}


/* .Payment_table {
    width: 100%;
} */

/* border-collapse:collapse; */
#payment table {
    border-spacing: 0px 12px;
}

#payment th{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #9C9C9C;
    text-align: left;
    padding: 0 0 12px 0;
}

#payment th:first-child{
    text-align: center;
}
#payment tr{
    color: #333333;
}
#payment td{
    height: 70px;
    margin: 0px 12px 0 0;
}

.table_td_no {
    width: 73px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.table_td_store, .table_td_designer, .table_td_user_name {
    width: 120px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.table_td_user_id, .table_td_price,.table_td_discount_price, .table_td_total_price{
    width: 120px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.table_td_goods {
    width: 420px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.table_td_payment_time, .table_td_reserve_time {
    width: 140px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
}

.table_td_state {
    width: 92px;
}

#payment td:first-child{
    border-radius: 8px 0px 0px 8px;
    text-align: center;
}

#payment td:last-child{
    border-radius: 0px 8px 8px 0px;
}

#payment td:first-child{
    border-radius: 8px 0px 0px 8px;
}
#payment td:last-child{
    border-radius: 0px 8px 8px 0px;
    margin: 0 0 0 32px;
} 

tr.none-deco {
    background: #FFFFFF;
    margin: 0 0 12px 0;
}

tr.none-deco > td{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

tr.none-deco > td:first-child{
    border-left: 1px solid #ffffff;
}
tr.none-deco > td:last-child{
    border-right: 1px solid #ffffff;
}

tr.none-deco:hover > td{
    border-top: 1px solid #0BA754;
    border-bottom: 1px solid #0BA754;
}

tr.none-deco:hover > td:first-child{
    border-left: 1px solid #0BA754;
}
tr.none-deco:hover > td:last-child{
    border-right: 1px solid #0BA754;
}

tr.text-deco {
    background: #9C9C9C;
}

tr.text-deco > td{
    border-top: 1px solid #9C9C9C;
    border-bottom: 1px solid #9C9C9C;
}

tr.text-deco > td:first-child{
    border-left: 1px solid #9C9C9C;
}
tr.text-deco > td:last-child{
    border-right: 1px solid #9C9C9C;
}


tr.text-deco:hover > td{
    border-top: 1px solid #0BA754;
    border-bottom: 1px solid #0BA754;
}

tr.text-deco:hover > td:first-child{
    border-left: 1px solid #0BA754;
}
tr.text-deco:hover > td:last-child{
    border-right: 1px solid #0BA754;
}

tr.partial_refund {
    background: #dedede;
}
tr.partial_refund > td{
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
tr.partial_refund > td:first-child{
    border-left: 1px solid #dedede;
}
tr.partial_refund > td:last-child{
    border-right: 1px solid #dedede;
}

tr.partial_refund:hover {
}
tr.partial_refund:hover > td{
    border-top: 1px solid #0BA754;
    border-bottom: 1px solid #0BA754;
}
tr.partial_refund:hover > td:first-child{
    border-left: 1px solid #0BA754;
}
tr.partial_refund:hover > td:last-child{
    border-right: 1px solid #0BA754;
}

.payment_table_click {
}

.payment_table_click td{
    border-top: 1px solid #0BA754 !important;
    border-bottom: 1px solid #0BA754 !important;
}

.payment_table_click td:first-child{
    border-left: 1px solid #0BA754 !important;
}
.payment_table_click td:last-child{
    border-right: 1px solid #0BA754 !important;
}

div.pay_statement {
    font-weight:bold;
    font-size:14px;
    box-sizing: border-box;
    border-radius: 8px;

    text-align: center;
    line-height: 29px;

    width: 68px;
    height: 29px;
    left: 1572px;
    top: 484px;
}

div.payment_complete{
    color: #FF3D12;
    background: #FFF4F1;
}

div.reserve_complete{
    color: #0BA754;
    background: #D8F7E6;
}

div.surgery_complete{
    color: #9C9C9C;
    background: #DDDDDD;
}

div.refund_request{
    color: #044BD6;
    background: #D3EDFF;
}

div.refund_complete{
    color: #9C9C9C;
    background: #F5F5F5;
    text-decoration-line: none;
}

div.detail_button {
    width: 115px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0 12px 0 12px;

    text-align: center;
    line-height: 40px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    cursor: pointer;
}
