.banner {
    width: 375px;
    padding-top: 100px;
    margin: auto;
    padding-bottom: 100px;

}

.banner > div {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 30px;
}


.banner select {
    margin-right: 10px;
}
.banner span {
    margin-right: 20px;
    font-weight: 700;
    height: 60px;
    line-height: 60px;
}
.banner .off {
    display: none;
}


.banner .on {
    display: inline-block;
}

.banner label { 
    display: inline-block; 
    height: 20px;
    width: 90px;
    text-align: center;
    color: #999; 
    background-color: #fdfdfd; 
    cursor: pointer; 
    border: 1px solid #ebebeb; 
    border-bottom-color: #e2e2e2; 
    border-radius: .25em;
 } 
 .banner input[type="text"] {
     height: 30px;
     border: none;
     border-bottom: 1px solid #333333;
     width: 45%;
 }

 .banner input[type="number"] {
    height: 30px;
    border: none;
    border-bottom: 1px solid #333333;
    width: 45%;
}
.banner input[type="file"] {
      position: absolute; 
      width: 1px; 
      height: 1px; 
      padding: 0; 
      margin: -1px; 
      overflow: hidden; 
      clip:rect(0,0,0,0); 
      border: 0; 
    }

    .push_button {
        border: 3px solid black;
        opacity: 0.5;
        z-index: 5;
    }

.banner button {
    width: 100px;
    height: 50px;
    font: 700 17px "Noto Sans";
    background-color: #333333;
    color: #ffffff;
}
