.Board_second_section {
    margin: 0 12px 20px 12px;
}

.Board_second {
    margin: 0;
}

.Board_second_price{
    justify-content: space-between;
    display: flex;
    max-width: 375px;
    padding: 32px 0 15px 0;
    height: 36px;
    border-bottom: 1px solid #DDDDDD;;
}
.Board_like {
    text-align: right;
    z-index: 100;
    margin-top: -12px;
    margin-right: -12px;
}

.Board_title {
    padding: 30px 0 12px 0;
    font: 700 16px "Montserrat";
}

.Board_content {
    font: 400 14px "Noto Sans";
}

.Board_price {
    line-height: 40px;
}

.Board_price_percent {
    font: 700 21px "Montserrat";
    margin-right: 15px;
    color: #333333;
}

.Board_price_price {
    font: 700 21px "Montserrat";
    color: #333333;
}
.Board_second_addprice {
    float: left;
    padding: 20.5px 0 32px 0;
    width: 100%;

}
.Board_second_addprice > div{
    min-height: 40px;
    float: left;
    font: 400 14px "Noto Sans";
    display: block;
}

.Board_second_store {
    justify-content: space-between;
    display: flex;
    background: #F0F0F0;
    padding: 23px 20px 23px 20px;
    font: 700 14px "Noto Sans";
}


.Board_second_store img {
    float: right;
    height: 14px;
}

.Board_banner {
    width: 100%;
    max-width: 375px;
}

.Board_banner img {
    width: 100%;
}